html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }
}
footer {
    margin-top: 20px;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-style: italic;
   
    width: 100%;
    box-shadow: none;
}
